<template>
    <v-card id="create">
        <v-container fluid pa-2>
            <v-card-title primary-title>
                <div>
                    <h2 class="headline mb-0">Создание стиля</h2>
                    <div>Редактирование стиля</div>
                </div>
            </v-card-title>
            <v-container fluid grid-list-md pa-4>
                <creating-form
                        ref="form"
                        :category="category" 
                        mode="create"
                ></creating-form>
                <v-card-actions>
                    <v-container fluid class="align-end">
                        <v-btn flat color="primary" @click="clear()">Очистить форму</v-btn>
                        <v-btn :loading="loading" right color="primary" @click="save">Сохранить</v-btn>
                    </v-container>
                </v-card-actions>
            </v-container> 
        </v-container>
    </v-card>
</template>

<script>
    import CreatingForm from './form.vue'
    export default {
        props: ['title'],
        data() {
            return {
                loading: false,
                category: {
                    show_on_main: 0
                }
            }
        },

        components: {
            CreatingForm
        },

        mounted () {
            this.load();
        },

        methods: {
            
            clear () {
                this.$refs.form.clear();
            },

            async save () {
                if (this.$refs.form.validate()){
                    const data = new FormData();
                    for (let key in this.category) {                   
                        data.append(key, this.category[key]);
                    }

                    try {
                        this.loading = true;
                        let response = await this.$http.post('categories', data);
                        this.loading = false;
                        if (response.result == 'success') {
                            this.flash(`Стиль создан`, 'success');
                        }
                        this.$refs.form.clear();
                    } catch (e) {
                        this.loading = false;
                        this.flash(`Ошибка ${e.message}`, 'error');
                    }
                }
            }
        }
    }
</script>

<style>
    .card{
        width: 100%;
    }
    .table__overflow{
        overflow-x: hidden !important;
    }
</style>