 <template>
    <v-card id="edit">
        <v-container fluid pa-2>
            <v-card-title primary-title>
                <div>
                    <h2 class="headline mb-0">Редактирование стиля</h2>
                </div>
            </v-card-title>
            <v-container fluid grid-list-md pa-4>
                <creating-form
                            ref="form"
                            :category="category"
                            mode="update"
                ></creating-form>
                <v-data-table
                        :headers="headers"
                        :items="category.gallery"
                        hide-actions
                        class="elevation-1"
                    >
                        <template slot="items" slot-scope="props">
                            <td class="text-xs-left">{{ props.item.order }}</td>
                            <td class="text-xs-left">{{ props.item.alt }}</td>
                            <td class="text-xs-center">
                            <v-btn right color="primary" @click="openPreview(props.item.image_url)">предпросмотр</v-btn>
                            </td>
                            <td class="justify-center layout px-0">
                                <v-btn icon class="mx-0" @click="deleteProductPhoto(props.item.id)">
                                    <v-icon color="pink">delete</v-icon>
                                </v-btn>
                            </td>
                        </template>
                </v-data-table>
                <v-spacer></v-spacer>
                <br/>
                <br/>
                <v-btn @click="addPhoto()">Добавить фото</v-btn> 
                <br/>
                <v-data-table
                        :headers="featuresHeaders"
                        :items="category.features"
                        hide-actions
                        class="elevation-1"
                    >
                        <template slot="items" slot-scope="props">
                            <td class="text-xs-left">{{ props.item.order }}</td>
                            <td class="text-xs-left">{{ props.item.text }}</td>
                            <td class="justify-center layout px-0">
                                <v-btn icon class="mx-0" @click="deleteFeature(props.item.id)">
                                    <v-icon color="pink">delete</v-icon>
                                </v-btn>
                            </td>
                        </template>
                </v-data-table>
                <v-spacer></v-spacer>
                <br>
                <v-btn @click="addFeatureDialog = true">Добавить пункт</v-btn> 
                <v-card-actions>
                    <v-btn flat color="primary" @click="$router.push('/categories')">Вернуться к списку</v-btn>
                    <v-btn :loading="loading" color="primary" @click="save">Сохранить</v-btn>
                </v-card-actions>
            </v-container> 
        </v-container>

        <v-dialog v-model="addPhotoDialog" max-width="600px">
            <photoForm  item="categories"
                        :parentId="$route.params.id"
                        @close="addPhotoDialog = false"
                        @added="photoAdded()">
            </photoForm>
        </v-dialog>

        <v-dialog v-model="addFeatureDialog" max-width="600px">
            <featureForm @close="addFeatureDialog = false"
                         @added="featureAdded()">
            </featureForm>
        </v-dialog>

        <v-dialog v-model="previewPhotoDialog" max-width="550px">
            <v-card class="pa-5">
                <img :src="photoPreview" width="450px">
                <v-card-actions>
                    <v-btn color="primary" flat @click.stop="previewPhotoDialog = false">Закрыть</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-card>
</template>

<script>
    import CreatingForm from './form.vue'
    import FeatureForm from './featureForm.vue'
    import PhotoForm from '../@common/photoForm.vue'
    export default {
        props: ['title'],
        data() {
            return {
                addPhotoDialog: false,
                previewPhotoDialog: false,
                addFeatureDialog: false,
                loading: false,
                photoPreview: '',
                loading: false,
                category: {
                    name: '',
                    slug: '',
                    about: '',
                    image: '',
                    show_on_main: 0
                }
            }
        },

        components: {
            CreatingForm,
            PhotoForm,
            FeatureForm
        },

        created () {
            this.load();
        },

        methods: {
            addPhoto () {
                this.addPhotoDialog = true;
            },
            openPreview (url) {
                this.previewPhotoDialog = true;
                this.photoPreview = url;
            },
            photoAdded () {
                this.addPhotoDialog= false;
                this.load();
            },
            featureAdded () {
                this.addFeatureDialog = false;
                this.load();
            },
            load () {
                this.$http.get(`categories/${this.$route.params.id}`).then((category) => {
                    this.category = category; 
                }); 
            },
            async save () {
                if (this.$refs.form.validate()){
                    const data = new FormData()
                    for (let key in this.category) {
                        data.append(key, this.category[key]);
                    }

                    try {
                        this.loading = true;
                        let response = await this.$http.post(`categories/${this.$route.params.id}`, data);
                        this.loading = false;
                        await this.load();
                        if (response.result == 'success') {
                            this.flash('Стиль обновлён', 'success');
                        }
                    } catch (e) {
                        this.flash('Стиль удален', 'error');                    
                    }
                }
            },
            async deleteProductPhoto (id) {
                try {
                    await this.$http.delete(`categories/image/${id}`);
                    await this.load();
                    this.flash('Фото успешно удалено', 'success');
                } catch(e) {
                    this.flash('Ошибка', 'error');
                }
            },
            async deleteFeature (id) {
                try {
                    await this.$http.delete(`features/${id}`);
                    await this.load();
                    this.flash('Пункт удален', 'success');
                } catch(e) {
                    this.flash('Ошибка', 'error');
                }
            }
        }
    }
</script>

<style>
    .card{
        width: 100%;
    }
    .table__overflow{
        overflow-x: hidden !important;
    }
</style>