<template>
    <v-card class="pa-4">
        <v-form v-model="valid" ref="form" lazy-validation>
            <v-layout child-flex wrap>
                <v-flex class="md3 pa-1">
                    <v-text-field
                        label="Порядковый номер"
                        v-model="feature.order"
                        :rules="reqRules"
                        required
                    ></v-text-field>
                </v-flex>

                <v-flex class="md9 pa-1">
                    <v-text-field
                        label="Текст пункта"
                        v-model="feature.text"
                        :rules="reqRules"
                        required
                    ></v-text-field>
                </v-flex>
            </v-layout>
        </v-form>
        <v-card-actions>
            <v-btn color="primary" flat @click.stop="closeDialog()">Закрыть</v-btn>
            <v-btn :loading="loading" color="primary" @click.stop="save()">Добавить</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    export default {
        props: ['parentId', 'item'],
        data () {
            return {
                valid: true,
                loading: false,
                reqRules: [
                    v => !!v || 'Это обязательное поле'
                ],
                feature: {
                    text: '',
                    order: '',
                    style_id: this.$route.params.id
                }
            }
        },

        methods: {
            closeDialog () {
                this.$emit('close');
            },
            validate () {
                return this.$refs.form.validate();
            },
            clear () {
                this.$refs.form.reset()
            },
            save () {
                this.loading = true;

                const data = new FormData()
                for (let key in this.feature) {
                    data.append(key, this.feature[key]);
                }
                
                this.$http.post('features', data).then((response) => {
                    this.loading = false;
                    this.flash('Пункт добавлен', 'success');
                    this.feature = {
                        text: '',
                        order: '',
                        style_id: this.$route.params.id
                    };
                    this.$emit('added');
                },(error) => {
                    this.loading = false;
                    this.flash('Ошибка при добавлении', 'error');
                });
            }
        }
    }
</script>