<template>
    <v-layout column>        
        <v-layout>
            <v-form v-model="valid" ref="form" lazy-validation>
                <v-layout child-flex wrap>
                    <v-flex md6>
                        <v-text-field
                            label="Название стиля"
                            v-model="category.name"
                            :rules="reqRules"
                            required
                        ></v-text-field>
                    </v-flex>

                    <v-flex md6>
                        <v-text-field
                            label="Ссылка стиля"
                            v-model="category.slug"
                            :rules="reqRules"
                            required
                        ></v-text-field>
                    </v-flex>

                    <v-flex md6>
                        <v-text-field
                            label="Слоган стиля"
                            v-model="category.short"
                            :rules="reqRules"
                            required
                        ></v-text-field>
                    </v-flex>

                    <v-flex md6>
                        <v-checkbox
                            label="Показывать на главной"
                            v-model="category.show_on_main"
                            :true-value="1"
                            :false-value="0"
                            required
                        ></v-checkbox>
                    </v-flex>

                    <v-flex md12>
                        <v-layout child-flex wrap>
                            <v-flex md6>
                                <v-text-field 
                                    prepend-icon="attach_file" 
                                    single-line
                                    v-model="fileName" 
                                    label="Выберите картинку"
                                    @click.native="onFocus" 
                                    ref="fileTextField">
                                </v-text-field>
                                <input type="file" ref="fileInput" @change="onFileChange">
                            </v-flex>
                            <v-flex md4>
                                <v-btn 
                                    v-if="category.image && mode === 'update'" 
                                    color="primary" dark 
                                    @click.stop="dialog = true">
                                    Смотреть
                                </v-btn>
                            </v-flex>
                        </v-layout>
                    </v-flex>

                    <v-flex md12>
                        <v-text-field
                            label="Описание стиля"
                            v-model="category.about"
                            :rules="reqRules"
                            required
                            multi-line
                        ></v-text-field>
                    </v-flex>

                </v-layout>
            </v-form>   
        </v-layout>
        <v-dialog v-model="dialog" max-width="500px">
            <v-card>
                <v-card-text>
                    <img :src="category.image_url" width="400px"/>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="primary" flat @click.stop="dialog = false">Close</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</template>

<script>
    export default {
        props: ['category', 'mode'],
        data() {
            return {
                valid: true,
                fileName: '',
                hideImage: false,
                dialog: false,
                reqRules: [
                    v => !!v || 'Это обязательное поле'
                ]
            }
        },

        created () {
            this.fileName = this.category && this.category.image;
        },

        methods: {
            onFocus () {
                this.$refs.fileInput.click();
            },
            onFileChange ($event) {
                this.category.image = $event.target.files[0] || $event.dataTransfer.files[0];
                this.fileName = $event.target.files[0].name;
            },
            validate () {
                return this.$refs.form.validate();
            },
            clear () {
                this.$refs.form.reset()
            }
        }
    }
</script>

<style scoped>
    input[type=file] {
        position: absolute;
        left: -99999px;
    }
</style>