<template>
    <v-layout>
        <v-card>
            <v-container fluid pa-2>
                <v-card-title primary-title>
                    <div>
                        <h1 class="headline mb-0">Список стилей</h1>
                    </div>
                </v-card-title>
                <v-container fluid grid-list-md pa-4>
                    <v-data-table
                        :headers="headers"
                        :items="categories"
                        hide-actions
                        class="elevation-1"
                    >
                        <template slot="items" slot-scope="props">
                            <td class="text-md-left">{{ props.item.id }}</td>
                            <td class="text-md-left">{{ props.item.name }}</td>
                            <td class="text-md-center">{{ props.item.slug }}</td>
                            <td class="justify-center layout px-0">
                                <v-btn icon class="mx-0" @click="editItem(props.item)">
                                <v-icon color="teal">edit</v-icon>
                                </v-btn>
                                <v-btn icon class="mx-0" @click="deletecategory(props.item)">
                                <v-icon color="pink">delete</v-icon>
                                </v-btn>
                            </td>
                        </template>
                    </v-data-table>
                </v-container>
            </v-container>
        </v-card>        
    </v-layout>
</template>

<script>
    export default {
        props: [
            'title',
        ],

        data() {
            return {
                categories: [],
                isCreate: false,
                filterName: '',
                headers: [
                    {
                        text: 'ID',
                        align: 'center',
                        sortable: false,
                        value: 'id'
                    },
                    {
                        text: 'Название категории',
                        align: 'left',
                        sortable: false,
                        value: 'name_ru'
                    },
                    { 
                        text: 'Адрес ссылки',
                        align: 'center',
                        value: 'slug_ru',
                        sortable: false 
                    },
                    { text: '', align: 'center', value: 'name', sortable: false }
                ]
            }
        },

        created () {
            this.load();
        },

        methods: {
            load () {
                this.$http.get('categories').then((response) => {
                    this.categories = response;
                });
            },

            async deletecategory (category) {
                try {
                    let response = await this.$http.delete(`categories/${category.id}`);
                    await this.load();
                    this.flash('Категория успешно удалёна', 'success');
                } catch(e) {
                    this.flash('Ошибка', 'error');
                }
                
            },
            editItem (category) {
                this.$router.push(`/categories/${category.id}`);
            }
        }
    }
</script>

<style>
    .v-card {
        width: 100%;
    }
    .v-table {
        overflow-x: hidden !important;
    }
</style>