
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@font-face {
    font-family: MuseoSansCyrlLight;
    src: url("/assets/index/fonts/MuseoSansCyr/Light.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlRegular;
    src: url("/assets/index/fonts/MuseoSansCyr/Regular.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlMedium;
    src: url("/assets/index/fonts/MuseoSansCyr/Medium.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlBold;
    src: url("/assets/index/fonts/MuseoSansCyr/Bold.otf") format("opentype");
}

html, body, .wrapper {
	height: 100%;
}

button, a {
	outline: none !important;
}

@media(max-width: 991px) {
	html, body {
		overflow: auto;
	}
}

@media(min-width: 992px) {
	html, body {
		overflow: hidden;
	}
}

.full-height {
  min-height: 100vh;
  background-color: rgb(48, 55, 62);
  padding: 15px;
}



.private-panel-body {
  padding: 0 !important;
}

.private-panel-body .main-block {
  min-height: 96vh;
}

.private-panel-body ul {
  margin: 0 !important;
  padding: 0 !important;
}
.private-panel-body li {
  list-style-type: none;
  padding: 15px;
  font-size: 17px;
  color: #999;
}
ul.children {
  font-size: 14px;
  padding: 0px 15px;
}
ul.children li.child {
  padding: 0px 15px;
  margin-bottom: 10px;
  font-size:14px;
}
ul.children li.child:first-child {
  margin-top: 25px;
}
ul.children li.child:last-child {
  margin-bottom: 0px;
}
.private-panel-body li:hover > a{
  color: #49cdd0;
  cursor: pointer;
}
.private-panel-body li.active a{  
  color: #49cdd0;
}
.private-panel-body li.active .child a{
  color: #999;
}
.private-panel-body li.active li.child.active-child a{
  color: white;
}
.private-panel-body li .menu-item-title {
  width: 60%;
}
.private-panel-body li .dropdown-button {
  width: 10%;
  float: right;
}

.private-panel-heading {
    padding: 15px;
}
.private-panel-heading .main-block {
    background-color: rgb(90, 104, 118) !important;  
}
.private-panel-heading span{
    font-family: MuseoSansCyrlRegular;
    text-decoration: none;
    font-size: 20px;
    color: white !important; 
}

.private-panel-body a {
  text-decoration: none;
  color: #999;
  display: block;
}

.col-md-10 .full-height {
  background-color: rgb(230, 230, 230);
}

.form-control {
  background-color: white !important;
  border: none !important;
  padding: 7px 20px !important;
  height: auto;
  border-bottom: 1px solid rgb(210, 210, 210) !important;
}
select.form-control {
  padding: 9px 17px !important;
}
.form-control.filter {
  margin: 0px 0px 0px 15px;
}
input.form-control:focus {
  border-bottom: 2px solid #49cdd0 !important;
}

.nopadding {
	padding: 0 !important;
}
.white-panel {
  background-color: white !important;
  overflow: hidden;
  min-height: 96vh;
}
.white-panel div.page-buttons {
  display: flex;
  justify-content: center;
}
.white-panel div.saveButtons {
  display: flex;
  justify-content: flex-end;  
}
.white-panel div.saveButtons .buttons {
  padding-right: 4%;
}
h2, h3, h4 {
  font-family: 'sf-ui-display-light';
  margin: 0px;
  padding: 10px 30px;
  text-align: center;  
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px; 
}
h4 {
  text-align:left;
  font-size: 16px; 
}

div.row {
  margin: 0;
  margin-bottom: 15px;
}
div.row.creating-row {
  padding: 0px 20px;
  margin-bottom: 25px;
}

div.private-table-scrolling {
  max-height: 77vh;
  overflow-y: auto;
}
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(70, 80, 90); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(48, 55, 62); 
}

table {
  width: 92% !important;
  margin-left: 4%;
}

table > thead, tfoot, tbody {
  text-align: center;
}

table > thead {
  font-family: 'sf-ui-display-heavy';
}
tfoot {
  font-family: 'sf-ui-display-light';
}
table > tbody {
  font-family: 'sf-ui-display-light';
}

table > tbody > tr:hover {
  cursor: pointer;
}
button {
  border-radius: 0px !important;
  font-family: 'sf-ui-display-light';
  font-size: 18px !important;
  border: none !important;
  outline: none !important;  
}
button:hover {
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2);   
}
.button-group {
  display: flex;
  justify-content: space-between;
}
button.saveButton {
  float: right;
}
button.btn-primary {  
  background-image: linear-gradient(60deg, #09b9ac, #7dd1c1);
}
button.btn-success {
  background-image: linear-gradient(60deg, #72a900, #8acc00); 
}
button.btn-warning {
  background-image: linear-gradient(60deg, #cec808, #dbd50a);  
}
button.btn-danger {
  background-image: linear-gradient(60deg, #c11302, #f21702);  
}
button.refreshButton:hover {
  background-color: white;
}
button.refreshButton:focus {
  background-color: white;
}


input[type="file"] {
  display: none;
}
label.custom-label {
  font-family: 'sf-ui-display-light';
  border: 2px solid rgb(210, 210, 210);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
label.custom-label:hover {
  background-color: rgb(230, 230, 230);
}

.uploadedImage img {
  width: 100%;
  height: auto;
}



input.form-control[type="checkbox"] {
  width: 20px;
  height: 20px;
  display: inline-block;
}



.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}


// login
.panel{
  border: none;
  border-radius: 0px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
}
.panel .panel-body{
  padding: 20px;
}
.panel .panel-body p{
  margin: 0px;
}
.panel .panel-body p+p {
  margin-top: 15px;
}
.panel-heading {
  border-radius: 0;
  border: none !important;
  padding: 10px 20px;
}
.panel-default>.panel-heading {
  color: #797979;
  background-color: #fafafa;
  border-bottom: none;
}
.panel-title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
}
.panel-footer {
  background: #fafafa;
  border-top: 0px;
}
.wrapper-page {
  width: 420px;
  margin: 7.5% auto;
}
.panel-color .panel-title {
  color: #ffffff;
}
.panel-primary>.panel-heading {
  background-color: #1e88e5;
}
.panel-pages .panel-body{
  padding: 30px;
}
.panel-pages {
  border-radius: 6px;
}
.panel-pages .panel-heading {
  padding: 40px 20px;
  border-radius: 6px 6px 0px 0px;
  -moz-border-radius: 6px 6px 0px 0px;
  -webkit-border-radius: 6px 6px 0px 0px;
  position: relative;
}

.bg-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(49, 126, 235, 0.4);
  top: 0px;
  left: 0px;
  border-radius: 6px 6px 0px 0px;
  -moz-border-radius: 6px 6px 0px 0px;
  -webkit-border-radius: 6px 6px 0px 0px;
}
.panel-pages .panel-heading  h3 {
  z-index: 999;
  position: relative;
}
.text-white {
  color: #ffffff;
}
.form-control {
  background-color: #fafafa;
  color: rgba(0,0,0,0.6);
  font-size: 14px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  border: 1px solid #eee;
  box-shadow: none;
}
.form-control:focus {
  border: 1px solid #e0e0e0;
  background: #FFF;
  box-shadow: none;
}

.flash__message {
  font-size: 14px !important;
  color: white !important;
  padding: 10px 30px 10px 15px !important;
}