<template>
    <div class="panel panel-default main-block">
        <div class="panel-heading">
            <span class="head-text">{{title}}</span>
        </div>
        <div class="panel-body nopadding full-panel">
            <!-- <div>
                <div class="col-md-5"></div>
                <div class="col-md-2">
                    <select class="form-control" name="" id="">
                        <option value="">Все товары</option>
                        <option v-for="category, idx in categories" :key="idx" :value="category.id">{{category.name}}</option>
                    </select>
                </div>
                <div class="col-md-5"></div>
            </div>
            <div>
                <div class="col-md-4"><b>Название продукта</b></div>
                <div class="col-md-4"><b>Описание</b></div> 
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
            </div>
            <div v-for="product, idx in products" :key="idx">
                <div class="col-md-4">{{product.name}}</div>
                <div class="col-md-4">{{product.description}}</div>
                <div class="col-md-2">
                    <button class="btn btn-xs btn-warning">Редактировать</button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-xs btn-danger">Удалить</button>
                </div>
            </div> -->
        </div>
    </div>
</template>

<script>
export default {
	props: ['title']
}
</script>