<template>
    <v-card id="edit">
        <v-container fluid pa-2>
            <v-card-title primary-title>
                <div>
                    <h2 class="headline mb-0">Редактирование услуги</h2>
                    <div></div>
                </div>
            </v-card-title>
            <v-container fluid grid-list-md pa-4>
                <updating-form
                            ref="form"
                            :product="product" 
                            mode="update"
                ></updating-form>
                <v-card-actions>
                    <v-container fluid class="align-end">
                        <v-btn flat right color="primary" @click="$router.push('/products')">Вернуться к списку</v-btn>
                        <v-btn right color="primary" @click="save" :loading="loading">Сохранить</v-btn>
                    </v-container>
                </v-card-actions>
            </v-container> 
        </v-container>
    </v-card>
</template>

<script>
    import UpdatingForm from './form.vue'
    import PhotoForm from '../@common/photoForm.vue'
    export default {
        data() {
            return {
                product: {
                    show_on_main: 0
                },
                loading: false
            }
        },

        components: {
            UpdatingForm,
            PhotoForm
        },

        mounted () {          
            this.load();
        },

        methods: {
            async load () {
                this.$http.get(`products/${this.$route.params.id}`).then((product) => {
                    this.product = product;
                }); 
            },
            save () {
                this.loading = true;

                const data = new FormData()
                for (let key in this.product) {
                    data.append(key, this.product[key]);
                }
                
                this.$http.post(`products/${this.$route.params.id}`, data).then((response) => {
                    this.loading = false;
                    this.flash('Изменения сохранены', 'success');
                    this.$refs.form.hideImage = false;
                    this.load();
                },(error) => {
                    this.loading = false;
                    this.flash('Ошибка', 'error');
                });
            }
        }
    }
</script>

<style lang="css">
    .v-card {
        width: 100%;
    }
</style>