<template>
    <v-layout>
        <v-form v-model="valid" ref="form" lazy-validation>
            <v-layout child-flex wrap>
                <v-flex md6>
                    <v-text-field
                        label="Название услуги"
                        v-model="product.name"
                        :rules="reqRules"
                        required
                    ></v-text-field>
                </v-flex>
                <v-flex md6>
                    <v-text-field
                        label="Цена"
                        v-model="product.price"
                        :rules="reqRules"
                        required
                    ></v-text-field>
                </v-flex>
                <v-flex md6>
                    <v-text-field
                        label="Время"
                        v-model="product.time"
                        :rules="reqRules"
                        required
                    ></v-text-field>
                </v-flex>
            </v-layout>
        </v-form> 
    </v-layout>
</template>

<script>
    export default {
        props: ['product'],

        data () {
            return {
                valid: true,
                reqRules: [
                    v => !!v || 'Это обязательное поле'
                ]
            }
        },

        methods: {
            validate () {
                return this.$refs.form.validate();
            },
            clear () {
                this.$refs.form.reset()
            }
        }
    }
</script>

<style scoped>
    .v-form{
        width: 100%;
    }
    input[type=file] {
        position: absolute;
        left: -99999px;
    }
</style>